@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
}
body{
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-image: url("honeycomb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.container{
    position: relative;
    background-color: transparent;
    backdrop-filter: blur(5px);
    border: 15px solid skyblue;
    border-radius: 50px;
    padding: 4rem;
}

.clock::after{
    content: "Digital Clock";
    background-color: skyblue;
    padding: 0.3rem 1rem;
    border-radius: 15px 15px 0 0;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -22%;
}
.clock{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.clock > div > div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
}

.clock > div > .time{
    height: 7rem;
    background-color: #36454f78;
    border-radius: 3px 3px 0 0;
    font-size: 4rem;
    font-weight: 400;
}
.clock > div > .hand{
    height: 3rem;
    background-color: #0c243c88;
    border-radius: 0 0 3px 3px;
    font-size: 1.4rem;
    font-weight: 300;
}
.clock > div.am-pm > div.time{
    background-color: transparent;
}
.clock > div.am-pm > div.hand{
    position: relative;
    top: -50%;
    transform: translatey(50%);
    font-size: 2rem;
    font-weight: 400;
}